.row
  .large-3.columns
    = form_for @auth, :remote => true do |f|
      = f.label :bio
      = f.text_field :bio, :autofocus => true
      = f.label :photo
      = f.text_field :photo
      = button_to_function('Cancel', 'cancel_app_form()',:class => 'button radius tiny alert')
      = f.submit 'Apply', :id => 'apply_button', :class => 'button radius tiny'
  .large-9.columns