.row
  .large-3.columns
    = form_for @user, :remote => true do |f|
      = f.radio_button :is_donor, "true"
      = f.radio_button :is_donor, "false"
      = f.text_field :name, :autofocus => true
      = button_to_function('Cancel', 'cancel_donate_form()',:class => 'button radius tiny alert')
      = f.submit nil, :id => 'donate_button', :class => 'button radius tiny'
  .large-9.columns
